.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-card {
    width: 100%;
    max-width: 400px;
    padding: 24px;
}

.full-width {
    width: 100%;
    margin-bottom: 8px;
}

.submit-btn {
    width: 100%;
    margin-top: 16px;
    padding: 24px 0;
}

.footer {
    text-align: center;
    margin-top: 16px;
    padding-bottom: 10px;
}

.footer a {
    color: var(--mat-sys-primary);
    text-decoration: none;
    font-weight: 500;
}

mat-card-header {
    margin-bottom: 20px;
    display: block;
    text-align: center;
}