.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 250px;
}

.spacer {
    flex: 1 1 auto;
}

.content-padding {
    padding: 20px;
}

.active-link {
    background: rgba(0, 0, 0, 0.04);
    border-left: 4px solid var(--mat-sys-primary);
}

mat-sidenav-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.sidenav {
    border-right: 0.4px solid pink;
    border-radius: 0cap !important;
}